flask==2.0.2
gevent==21.12.0
pandas==1.1.5
xlrd==1.2.0
openpyxl==3.0.9
python-dotenv==0.19.2
jsonschema==4.0.0
requests==2.26.0
librosa==0.8.1
opencv-contrib-python==3.4.2.16
python_speech_features==0.6
flask-apscheduler==1.12.4
tqdm==4.64.1
cacheout==0.14.0
