<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>标注平台</title>
  <meta charset="UTF-8">
  <script src="../js/index.js"></script>
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>

<body text="black">
  <!-- 导航栏 -->
  <div class="navigation">
    <div>标注平台导航页面</div>
  </div>

  <!-- 内容 -->
  <div class="content">
    <div class="left_content">
      <table class="left_content_table" style="color:black">
        <thead>
          <tr><td>标注任务</td></tr>
        </thead>
        <tr>
          <td><a href="{{voicemail_url}}" target="_blank">语音信箱分类</a></td>
        </tr>
        <tr>
          <td><a href="{{basic_intent_url}}" target="_blank">基础意图分类</a></td>
        </tr>
      </table>
      <table class="left_content_table" style="color:black">
        <thead>
        <tr><td>测试</td></tr>
        </thead>
        <tr>
          <td><a href="{{test_tts_url}}" target="_blank">语音合成</a></td>
        </tr>
      </table>
      <table class="left_content_table" style="color:black">
        <thead>
          <tr><td>其它</td></tr>
        </thead>
        <tr>
          <td><a href="https://docs.qq.com/sheet/DWllFd3ZsQkpReFND?tab=BB08J2" target="_blank">各项统计信息(Excel)</a></td>
        </tr>
        <tr>
          <td><a href="https://docs.qq.com/sheet/DWkhBY3pFQ1N4ZXNL?tab=BB08J2" target="_blank">语言介绍(Excel)</a></td>
        </tr>
<!--        <tr>-->
<!--          <td><a href="https://zhuanlan.zhihu.com/p/406749209" target="_blank">一个完整的标注平台应该具备哪些功能？</a></td>-->
<!--        </tr>-->
      </table>
    </div>
    <div class="center_content"></div>
    <div class="right_content"></div>
  </div>

  <!--  底部  -->
  <div class="tail">
    <div>
      NX
    </div>
  </div>

  <!-- 引入样式和脚本 -->
  <link rel="stylesheet" href="../css/index.css" />
  <script src="../js/index.js"></script>

</body>
</html>



