<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>语音信箱分类</title>
  <meta charset="UTF-8">
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>

</head>

<body>
<!-- 导航栏 -->
<div class="navigation">
  <div>
    <div class="global_options">
      <div>用户名: </div>
      <input id="username" placeholder="请输入用户名">
    </div>
    <div class="global_options">
      <div>选择语言: </div>
      <form>
        <select class="global_selector" id="select_language">
          <!--<option>zh-TW</option>-->
        </select>
      </form>
    </div>
    <div class="global_options">
      <div>标注模式: </div>
      <form>
        <select class="global_selector" id="annotate_mode">
          <option>increase</option>
          <option>correction</option>
        </select>
      </form>
    </div>
    <div class="global_options">
      <div>推荐标签: </div>
      <form>
        <select class="global_selector" id="recommend_mode">
          <option>random</option>
        </select>
      </form>
    </div>
    <div class="global_options" id="search">搜索</div>
  </div>
</div>

<!-- 内容 -->
<div class="content">
  <div class="left_content">

    <ul class="v_nav" >
      <li>用户名, 建议用中文的名字, 并且不要变来变去. </li>
      <li>不确定的, 可以点'搜索'跳过; 不明显的, 可以标为 'other' 即丢弃. </li>
    </ul>

    <div class="left_content_tips">
      <table class="tips_table" id=""></table>
    </div>
  </div>
  <div class="center_content">
    <div id="audio_display_name">audio_display_name</div>
    <div class="center_content_box">
      <div class="center_content_left">
        <div>
          <audio controls id="voicemail_audio_box" autoplay>
            <source id="voicemail_audio" src="" type="audio/wav">
          </audio>
        </div>
        <div class="spectrum" id="spectrum">
          <img alt="spectrum_image" src="" id="spectrum_image">
        </div>
      </div>
      <div class="center_content_center">
        <button id="play_button">播放</button>
        <button id="last_button">上一个</button>
      </div>
      <div class="center_content_right" id="available_label_box">
        <!--      <div class="label_button">sample1</div>-->
      </div>
    </div>
  </div>
  <div class="right_content">
    <div id="annotator_workload">
      <table class="statistics_table" id="annotator_workload_table"></table>
      <table class="statistics_table" id="labels_count_table"></table>
      <table class="statistics_table" id="model_info_table"></table>
    </div>
  </div>

</div>


<!--  底部  -->
<div class="tail">
  <div>
    NX
  </div>
</div>

<audio controls id="label_button_media_box" hidden src=""></audio>

<!-- 引入样式和脚本 -->
<link rel="stylesheet" href="../css/voicemail.css" />
<script src="../js/voicemail.js"></script>

</body>
</html>



